/* styles.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}


.chart-container {
  margin-bottom: 20px;
  text-align: center;
  height: 400px; /* Adjust the height value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-form-container {
  margin-bottom: 20px;
}

.score-field {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

p {
  margin-bottom: 10px;
}

.student-list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.student-list th,
.student-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.student-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.student-list tr:hover {
  background-color: #f9f9f9;
}

.btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #45a049;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
}